@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;

.tile {
  block-size: 100%;
}

.value {
  @include type-style('heading-05');
}

.label {
  @include type-style('heading-compact-01');
  margin-block-start: $spacing-02;
}

.helper {
  @include type-style('label-01');
  color: $text-secondary;
  margin-block-start: $spacing-02;
}
